body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 400px;
   
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    background-color: green;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.circle.active {
    background-color: aquamarine;
    color: black;
}

.btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: aquamarine;
    color: b;
    border: none;
    cursor: pointer;
    margin-left: 50px;

}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.all{
    background-color: rgb(34, 193, 34);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}